<section class="welcome">

    <app-header></app-header>

    <div class="welcome-main-content">
        <div class="welcome-content" (click)="routesDashboard('assent')">
            <div class="welcome-text">
                <span>Beginnen Sie Ihre Reise!</span>
                <span>Wollen Sie einen Assistenten nutzen, bei Erstellung der Route?</span>
            </div>
            @if(mainVariable.ismobile == true){
            <button class="button-primary" (click)="routesDashboard('assent')">Route erstellen</button>
            }            
        </div>
        <div class="welcome-content" (click)="routesDashboard('dash')">
            <div class="welcome-text">
                <span>Beginnen Sie Ihre Reise!</span>
                <span>Wollen Sie die Route selbst erstellen?</span>
            </div>
            @if(mainVariable.ismobile == true){
            <button class="button-primary" (click)="routesDashboard('dash')">Route erstellen</button>
            }
        </div>
    </div>

    <app-status></app-status>
</section>