<section class="welcome">

    <app-header></app-header>

    <div class="welcome-main-content">
        <div class="welcome-content" (click)="routesDashboard('assent')">
            <div class="welcome-text">
                <span>Probiere meine Länder App aus!</span>                
            </div>
            @if(mainVariable.ismobile == true){
            <button class="button-primary" (click)="routesDashboard('assent')">Land erstellen</button>
            }            
        </div>
        <div class="welcome-content" (click)="routesDashboard('dash')">
            <div class="welcome-text">
                <span>Schau dir das Wetter deiner Stadt an</span>                
            </div>
            @if(mainVariable.ismobile == true){
            <button class="button-primary" (click)="routesDashboard('dash')">Land erstellen</button>
            }
        </div>
    </div>

    <app-status></app-status>

    
</section>