<section class="welcome">

    <app-header></app-header>

    <div class="welcome-main-content">
        <div class="welcome-content" (click)="routesDashboard('assent')">
            <div class="welcome-text">
                <span>Welches Land möchten Sie besuchen!</span>
                <span>Wollen Sie einen Assistenten nutzen, beim aussuchen des Landes?</span>
            </div>
            @if(mainVariable.ismobile == true){
            <button class="button-primary" (click)="routesDashboard('assent')">Land erstellen</button>
            }            
        </div>
        <div class="welcome-content" (click)="routesDashboard('dash')">
            <div class="welcome-text">
                <span>Welches Land möchten Sie besuchen!</span>
                <span>Suchen sie sich selbst das Land aus</span>
            </div>
            @if(mainVariable.ismobile == true){
            <button class="button-primary" (click)="routesDashboard('dash')">Land erstellen</button>
            }
        </div>
    </div>

    <app-status></app-status>

    
</section>