<Section class="wetter">
    <app-header-wetter></app-header-wetter>
    <app-searchbar></app-searchbar>
    <div class="wetter-content">

        @if(mainVariable.loading){
        <div class="loading-content">
            <span>Loading...</span>
            <span class="loading-img"><img src="assets/img/loading.png" alt=""></span>
        </div>
        }@else {
        @if(mainVariable.wetterPlz != null || mainVariable.wetterOrt != null){
        <div class="wetter-info">
            <app-currently-weather></app-currently-weather>
            <app-forcast-weather></app-forcast-weather>
        </div>
         <div class="wetter-buttons">
            <button class="button-primary" (click)="goStart()">Startseite</button>
            <button class="button-primary" (click)="goSearch()">Neue Suche starten</button>
        </div>
        }
        }

       

    </div>
</Section>