

@use 'assets/themes/buttons.scss' as *;
html, body { height: 100%; background-color: var(--grey-dark);margin: 0; 
    font-family: 'FiraCode';

}



:root {
    
    --bg-color: #eceefe;
    --white-color: #fff;
    --black-color: #000;
    --grey-dark: #4a4a4a;
    --primary-color: #0d6efd;
    --secondary-color: #6c757d;
    
    
}

@font-face {
    font-family: 'FiraCode';
    src: url('assets/fonts/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'karla';
    src: url('assets/fonts/Karla-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


:root {
    --font-size-error: 14px;
    --font-size-title-default: 24px;
    --font-size-s: 16px;
    --font-size-m: 18px;
    --font-size-l: 20px;
    --font-size-ml: 24px;
    --font-size-xl: 32px;
    --font-size-xxl: 46px;
    --font-weight-normal: 400;
    --font-weight-bold: 500;
    --font-weight-extra-bold: 700;
    --font-primary: font-family: 'FiraCode';
}